.twitchLogo {
   max-height: 80px;
}

.twitchDividerMobile {
   background-repeat: no-repeat;
   background-size: 100vw 40px;
   min-height: 40px;
}

.twitchDividerDesktop {
   background-repeat: no-repeat;
   background-size: 100vw 200px;
   min-height: 200px;
}

.twitchDividerTop {
   background-image: url('../../assets/twbgtop.png');
   background-position: bottom; 
}

.twitchWrapper {
   background-color: #a970ff;
}

.twitchDividerBottom {
   background-image: url('../../assets/twbgbottom.png');
   background-position: top; 
}
