.twitchBoradcasterInner {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   min-height: 370px;
}

.twitchOnline {
   border-color: #dc3545!important; 
}

.twitchOffline {
   border-color: #6c757d!important;
}

.twitchBroadcasterText {
   background-color:rgba(0, 0, 0, 0.6);
}

