@import "../../colors";

// .OverviewCard {
//    margin-bottom: 20px;
// }

.border-fix {
   border-width: 2px !important;
}

.header {
   // border-color: $primaryColor;
   // border-style: solid;
   // border-width: 2px;
   font-size: x-large;
   padding: 16px;
   background-color: $secondaryBackgroundColor;
}

.content {
   // border-color: #545454;
   // border-style: solid;
   // border-width: 2px;
   padding: 16px;
}