// default colors
@import "../../colors";

$headerHeight: 60vh;

.desktopHeader {
   background-image: url('../../assets/headerSeason1.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center top; 
   background-size: 100vw;
   height: $headerHeight;
}


.dividerHeader {
   background-image: url('../../assets/headerdivider.png');
   background-position: bottom; 
   background-repeat: no-repeat;
   background-size: 100vw 200px;
   height: $headerHeight;
}

.desktopHeaderText {
 
      //  background: none repeat scroll 0 0 #000000;
       // color: #FFFFFF;
       text-shadow:
       0 0 7px #000000,
       0 0 10px #FFFFFF,
       0 0 20px #FFFFFF,
       0 0 30px #FFFFFF,
       0 0 40px $primaryColor,
       0 0 70px $primaryColor,
       0 0 80px $primaryColor,
       0 0 100px $primaryColor,
       0 0 150px $primaryColor;
   
   // text-shadow: 4px 4px 8px #121212;

}
