.OverviewRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;

    grid-column-gap: 30px;
    grid-row-gap: 30px;


    margin-right: -15px;
    margin-left: -15px;
}