$primaryColor: #52c3ee;
$primaryBackgroundColor: #292929;
$secondaryBackgroundColor: #292929;

// export
// https://til.hashrocket.com/posts/sxbrscjuqu-share-scss-variables-with-javascript

:export {
   primarycolor: $primaryColor;
   primaryBackgroundColor: $primaryBackgroundColor;
   secondaryBackgroundColor: $secondaryBackgroundColor;
}