
.App {
   min-height: 100vh;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
   grid-template-areas: 
      "header"
      "main"
      "footer";
   row-gap: 14px;
}


/* CSS for Detaillist Fluent UI*/
// .headerClass > span {
//     /* right aligned header should have padding */
//     // padding-right: 15px;
// }

.headerCenterClass span {
   /* bolder font */
//    'font-weight: 900;

   /* Right Align the column header */
   justify-content: center;
   text-align: center;

//    /* green color */
//    color: green;

//    /* background color */
//    background: pink;
}

.headerRightClass span {
   justify-content: flex-end;
   text-align: right;

}
