// default colors
@import "./colors";

// redefinde bootsrap colors
// https://stackoverflow.com/questions/38792005/how-to-change-the-bootstrap-primary-color
$primary: $primaryColor;
@import "~bootstrap/scss/bootstrap";

// if not needed deinstall
@import 'office-ui-fabric-core/dist/sass/Fabric.scss';


// html, body, #root {
//    min-height: 100% !important;
//    height: 100%;
// }


.link-button {
   color: #52c3ee;
   text-decoration: none;
   background-color: transparent;


   
   border: none;
   cursor: pointer;
   
   display: inline;
   margin: 0;
   padding: 0;
 }

 .link-button:hover {
   color: #16a7de;
   text-decoration: underline;
 }

// react default
body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

pre {
  color: white !important;
}