// default colors
@import "./colors";

// redefinde bootsrap colors
// https://stackoverflow.com/questions/38792005/how-to-change-the-bootstrap-primary-color
$primary: $primaryColor;
@import "~bootstrap/scss/bootstrap";

// if not needed deinstall
@import 'office-ui-fabric-core/dist/sass/Fabric.scss';


// html, body, #root {
//    min-height: 100% !important;
//    height: 100%;
// }


// react default
body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
